<!DOCTYPE html>
<html>
<head>
  <title>Opal Knockout - RSpec Runner</title>  
  <script src="https://code.jquery.com/jquery-1.8.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
  <%= javascript_include_tag @server.main %>
</head>
<body>
</body>
</html>